@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --Background: hsl(207, 26%, 17%);
  --Elements: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
  --box-shadow-color: hsl(0, 0%, 9%);
}
.white-mode {
  --Background: hsl(0, 0%, 98%);
  --Elements: hsl(0, 0%, 100%);
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --box-shadow-color: hsl(0, 0%, 70%);
}
* {
  font-family: "Nunito Sans";
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--Background);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.navBar {
  width: 100%;
  padding: 25px 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Elements);
  box-shadow: 0 1px 3px var(--box-shadow-color);
}
.navBar h1 {
  color: var(--text-color);
  font-weight: 800;
  margin: 0;
}
.theme-button {
  color: var(--text-color);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}
#main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  padding: 50px 75px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.input-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 75px;
}
.search-input-container {
  padding: 15px 25px;
  gap: 25px;
  background-color: var(--Elements);
  border-radius: 5px;
  box-shadow: 0 1px 3px var(--box-shadow-color);
  width: 375px;
  display: flex;
  align-items: center;
}
#search-icon{
  height: 24px;
}
#search-input::placeholder {
  color: var(--input-color);
}
#search-input {
  color: var(--input-color);
  outline: none;
  background: transparent;
  border: none;
}
#filter {
  background-color: var(--Elements);
  color: var(--text-color);
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: 0 1px 3px var(--box-shadow-color);
}
.countries {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 50px;
}
.country {
  height: 325px;
  grid-template-columns: span 1;
  border-radius: 5px;
  background-color: var(--Elements);
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 1px 3px var(--box-shadow-color);
}
.country:hover {
  filter: brightness(85%);
}
.image-container {
  height: 50%;
  width: 100%;
}
.image-container img {
  height: 100%;
  width: 100%;
}
.informations {
  height: 50%;
  padding: 10px 20px;
  color: var(--text-color);
}
h5 {
  margin: 5px 0;
  font-weight: 500;
  font-size: 16px;
}
h3 {
  margin: 10px 0;
  font-weight: 800;
}
span {
  font-weight: 300;
  font-size: 14px;
}
@media (max-width: 800px) {
  .navBar {
    padding: 25px 10px;
  }
}
@media (max-width: 600px) {
  .input-row {
    padding: 0;
  }
}
#details {
  display: none;
  padding: 0 52px;
  flex-direction: column;
}
.back {
  border: none;
  background-color: var(--Elements);
  border-radius: 3px;
  color: var(--text-color);
  padding: 10px 24px;
  margin: 75px 0;
  font-weight: 300;
  width: fit-content;
  gap: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#back-icon{
  height: 18px;
}
.country-details {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 75px;
  color: var(--text-color);
}
.flag img {
  width: 520px;
  height: 340px;
}
.data {
  flex-grow: 1;
}
.data-container {
  display: flex;
  gap: 75px;
}
.bordred {
  margin-top: 75px;
  display: flex;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.bordred button {
  background-color: var(--Elements);
  padding: 5px 25px;
  font-weight: 300;
  color: var(--text-color);
  border: none;
  cursor: pointer;
}
.hide {
  display: none;
}
@media (max-width: 1040px) {
  .country-details {
    flex-direction: column;
  }
  .data-container {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .flag img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
  }
  #details {
    padding: 0 24px;
  }
  .input-row{
    flex-direction: column;
    align-items:start;
    gap: 50px;
  }
  .search-input-container{
    width: 100%;
  }
}
